<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon aria-hidden="true" name="card-outline"></ion-icon>
      <ion-label>Expenses</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="income" href="/tabs/income">
      <ion-icon aria-hidden="true" name="wallet-outline"></ion-icon>
      <ion-label>Income</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="analysis" href="/tabs/analysis">
      <ion-icon aria-hidden="true" name="pie-chart-outline"></ion-icon>
      <ion-label>Analysis</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
